.lesson-avatar {
  max-height: 308px;
}

.centered {
  float: none;
  margin: 0 auto;
}

.navbar {
  background: #65004f !important;
}

.breadcrumb {
  margin: 1rem 0;
  background-color: #fff;
  border: 1px #eee solid;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled {
  color: #1e90ff;
}

div.card-text {
  position: absolute;
  background: #fff;
  padding: 1% 1% 1% 0;
  z-index: 1;
  //min-width: 93%;
}

.card {
  margin-top:5px;
  border: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label.md-checkbox-layout {
  margin: 0 4px 0 0;
}

.md-checkbox {
  padding-bottom: 8px;
}

.md-checkbox, .md-radio-button .md-radio-label {
  border-bottom: 1px solid rgba(255, 155, 155, 0);
}

.md-checkbox:hover, .md-radio-button:hover .md-radio-label {
  border-bottom: 1px solid rgba(255, 155, 155, 1);
  transition: 0.3s border-bottom;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 25%;
  margin: 0 0 0 -40px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

img.logo {
  position: absolute;
  height: 48px;
  float: left;
  margin-right: 20px;
  cursor: pointer;
}

img.logo:hover {
  margin-left: -5px;
  margin-top: -5px;
  height: 58px;
  transform: rotate(-10deg);
  transition: 0.3s all;
}

.head-radio {
  margin-left: 60px;
  color: #fff;
}

.difficulty-icon {
  background: url(/images/difficulty.png);
  position: absolute;
  margin-top: -66px;
  height: 66px;
  width: 66px
}

.card-text h2{
  display: inline;
  font-size:12pt;
}

.code{
  background:#f5f5f5;
  margin:10px;
  color:#999;
  overflow: auto;

  pre{
    padding:30px 30px 15px 30px;
    margin:5px 0 0 0;
    text-align: left;
  }
}

.code > span{
  position:absolute;
  margin-left:15px;
  margin-top:5px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

lesson > div > div > div.col-md-9{
  overflow: hidden;

  p{
    width:100%;
  }
}

lesson-list .card > .card-text{
  width: 93%;
}