<track-scroll>
    <nav class="navbar navbar-full bg-faded navbar-darkCanvas">
        <div class="nav navbar-nav container">
            <img class='logo'
                 [routerLink]="['/']"
                 src="/images/logo_v2.png">
            <div class="nav-item nav-link head-radio" [ngSwitch]="activeLesson">
                <div *ngSwitchCase="null">
                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                    <md-radio-button
                            style="margin-right: 10px"
                            *ngFor="let sort of sorts; let i = index;"
                            [checked]="i==sortSelected"
                            (click)="changeSort(i)">
                        {{sort.name}}
                    </md-radio-button>
                    <div class="float-md-right" style="color: #fff;">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                        <md-checkbox
                                *ngFor="let tag of tags"
                                [checked]="tag.visible"
                                (change)="setTagVisibility(tag, $event.checked)">
                            {{tag.name}}
                        </md-checkbox>
                    </div>
                </div>
                <div *ngSwitchDefault>
                    <div style="padding:2px;">
                        <div style="margin-left:5px;display: inline-block;">
                            <h5 style="color:#fff;padding:0;">{{activeLesson.name}}</h5>
                        </div>
                        <div class="float-md-right">
                            <h6 style="color:#f99;padding:3px;">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                {{activeLesson.views}}
                                <i class="fa fa-calendar" style="margin-left:10px" aria-hidden="true"></i>
                                {{activeLesson.date}}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        <router-outlet></router-outlet>
    </div>
</track-scroll>