<ul class="characters">
  <li *ngFor="let lesson of lessons" (click)="onSelect(lesson)">
    <span class="badge">{{lesson.id}}</span> {{lesson.name}}
  </li>
</ul>
<h2 *ngIf="selectedLesson">
  {{selectedLesson.name | uppercase}} selected lesson
</h2>
