<div *ngIf="lesson">
    <div class="row" style="padding-top:30px;">
        <div class="col-md-9">
            <div class="row">
                <p class="card-text" [innerHTML]="lesson.text" style="padding-right: 30px;"></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div [ngStyle]="{'background-image' :'url('+lesson.avatar+')'}"
                     style="width:100%;height:300px;background-size:cover;background-position:50% 50%;">

                </div>
            </div>
            <div class="row difficulty-icon" title="Сложность"
                 [ngStyle]="{'background-position' : (-lesson.difficulty+1)*66 + 'px 0'}">
            </div>

            <div class="row">
                <md-nav-list>
                    <a md-list-item *ngFor="let link of links" href="{{link.url}}">
                        {{ link.name }}
                    </a>
                </md-nav-list>
            </div>
        </div>
    </div>
</div>
