<div *ngIf="filteredLessons" class="row">
    <div *ngFor="let lesson of filteredLessons"
         [routerLink]="[lesson.url]"
         style="cursor: pointer;"
         class="col-md-6">
        <div class="card card-block">
            <div class="card-text">
                <h4 class="card-title">{{lesson.name}}</h4>
                <h6 class="card-subtitle text-muted col-md-4">
                    <span *ngFor="let tag of lesson.tags">
                        {{tag.name}}
                    </span>
                </h6>
            </div>
            <div class="row" style="overflow: hidden; margin: 50px 0;">
                <div class="col-md-12"
                     style="height:300px;background-size: cover;background-position: 50% 20%;"
                     [ngStyle]="{ 'background-image': 'url(' + lesson.avatar + ')'}">
                </div>
            </div>
            <div class="card-text" style="bottom:0;" [innerHTML]="lesson.short_text"></div>
        </div>
    </div>
</div>